*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    height: 100vh;
    color: black;

}
.wrapper{
    position: relative;
    width: 500px;
    height: 1000px;
    overflow: hidden;
    color: black;
    
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;

}
.above-text{
    position: absolute;
    top: 0;
    z-index: 3;
    
}

.burger{
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    left:-500px;
    opacity: 0;
    z-index: 2;
}
.text-1 {
    display: block;
    max-width: 100%;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1.5s ease;

}
.text-1.show{
    clip-path: inset(0 0 0 0 );
}
.text-2{
    position: absolute;
    top:0;
    display: block;
    max-width: 100%;
    opacity: 0;

    transition: opacity 1s ease;
}

.below-burger{
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.logo{
    position: absolute;
    opacity: 0;
    top:0;
    z-index: 3;
}
.main-text{
    opacity: 0;
}

.X{
    position: absolute;
    top: 5%;
    transform: translateX(82%) scale(0.01);
    opacity: 0;
    transform-origin: center;
    z-index: 4;
}
.mce{
    position: absolute;
    top: 8%;
    width: 100%;
    transform: rotateY(270deg);
    opacity: 0;
}
.stoerer{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    opacity: 0;
    z-index: 5;
}
.stoerer-cropped{
    position: absolute;
    top: 23.5%;
    left:8%;
    opacity: 0;


}